<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding: 20px;
    }
    .hotel-image {
      max-width: 100%;
      height: auto;
    }
    .hotel-info {
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ hotel[1] }}</h1>
        </div>
        <div class="col-md-6">
            <img src="{{ hotel[11] }}" alt="Otel Resmi" class="hotel-image">
        </div>
        <div class="col-md-6">
            <div class="hotel-info">
                <h4>Otel Olanakları</h4>
                <p>{{hotel[3]}}</p>
                
            </div>
            <div class="hotel-info">
                <h4>Rate</h4>
                <p>{{ hotel[6] }}</p>
            </div>
            <div class="hotel-info">
                <h4>Yorumlar</h4>
                <p>Yorum Sayısı:{{ hotel[4] }}</p>
            </div>
            <div class="hotel-info">
                <h4>Hakkında</h4>
                <p>Lokasyon:{{hotel[5]}}</p>
                <p>Şehir:{{hotel[9]}}</p>
                <p>Ülke:{{hotel[8]}}</p>
                
            </div>
            <div class="hotel-info">
                <h4>Fiyat</h4>
                <p>{{ hotel[2] }} TL / gece</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Harita</h4>
            
        </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>